@import url(http://fonts.googleapis.com/css?family=Arvo|Josefin+Sans:700);
@import "normalize.css";
/*
font-family: 'Arvo', serif;
font-family: 'Josefin Sans', sans-serif;
*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
blockquote {
  border-left: 3px solid #444444;
  padding: 30px 30px;
  margin-top: 0;
  margin-bottom: 0;
  font-style: italic;
  font-size: 0.9rem;
}
blockquote > *:nth-child(1) {
  margin-top: 0;
}
blockquote > *:last-child {
  margin-bottom: 0;
}
a:link {
  color: #ff6447;
  text-decoration: none;
}
a:visited {
  color: #bb2509;
}
a:hover {
  color: #bb2509;
}
a:focus {
  color: #bb2509;
}
a:active {
  color: #bb2509;
}
body > section > nav {
  text-align: center;
  vertical-align: top;
  margin-right: 20px;
}
@media (min-width: 800px) {
  body > section > nav {
    text-align: left;
    width: 150px;
    display: inline-block;
  }
}
@media (min-width: 1324px) {
  body > section > nav {
    display: block;
    float: left;
    margin-left: -200px;
  }
}
body > section > nav a {
  display: block;
}
body > section > nav img {
  display: none;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  border: 1px solid #ff6447;
}
@media (min-width: 800px) {
  body > section > nav img {
    display: block;
  }
}
body > section > nav svg {
  max-width: 300px;
  max-height: 100%;
}
body > section > nav h1 {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  text-align: right;
  color: #444444;
}
body > section > nav h1 span {
  color: #ff6447;
}
body > section > nav ul {
  margin-bottom: 80px;
  padding-left: 0;
  list-style-type: none;
}
body > section > nav ul li {
  display: inline-block;
  text-align: center;
  width: 4em;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
}
@media (min-width: 800px) {
  body > section > nav ul li {
    display: block;
    width: auto;
    text-align: right;
  }
}
body > section > nav ul li a:link,
body > section > nav ul li a:visited,
body > section > nav ul li a:hover,
body > section > nav ul li a:focus,
body > section > nav ul li a:active {
  color: #aaaaaa;
}
body > section {
  display: block;
  vertical-align: top;
  text-align: left;
  font-family: 'Arvo', serif;
}
@media (min-width: 1324px) {
  body > section {
    display: inline-block;
    width: 824px;
  }
}
body > section h1,
body > section h2,
body > section h3,
body > section h4,
body > section h5,
body > section h6 {
  font-family: 'Josefin Sans', sans-serif;
}
body > section h1 {
  font-size: 38px;
}
body > section .content {
  clear: both;
  max-width: 824px;
}
@media (min-width: 800px) {
  body > section .content {
    display: inline-block;
    width: calc(100% - 174px);
  }
}
@media (min-width: 1324px) {
  body > section .content {
    clear: none;
    display: block;
    width: 100%;
  }
}
.posts {
  list-style-type: none;
  padding-left: 0;
}
.posts li {
  font-size: 20px;
  line-height: 36px;
}
.post-header h1 {
  margin-bottom: 0;
}
.post-header .meta {
  margin: 0 0 30px 0;
  color: #aaaaaa;
}
body {
  overflow-y: scroll;
  margin: 80px 20px 20px 20px;
  text-align: center;
  color: #444444;
}
p {
  line-height: 23px;
}
