@import url(http://fonts.googleapis.com/css?family=Arvo|Josefin+Sans:700);
@import "normalize.css";
/*
font-family: 'Arvo', serif;
font-family: 'Josefin Sans', sans-serif;
*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
a:link {
  color: #ff6447;
  text-decoration: none;
}
a:visited {
  color: #bb2509;
}
a:hover {
  color: #bb2509;
}
a:focus {
  color: #bb2509;
}
a:active {
  color: #bb2509;
}
body > section > nav {
  float: left;
  margin-left: -200px;
  width: 150px;
  text-align: left;
}
body > section > nav img {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  border: 1px solid #ff6447;
}
body > section > nav h1 {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  text-align: right;
  color: #444444;
}
body > section > nav h1 span {
  color: #ff6447;
}
body > section > nav ul {
  list-style-type: none;
}
body > section > nav ul li {
  text-align: right;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
}
body > section > nav ul li a:link,
body > section > nav ul li a:visited,
body > section > nav ul li a:hover,
body > section > nav ul li a:focus,
body > section > nav ul li a:active {
  color: #aaaaaa;
}
body > section {
  display: inline-block;
  width: 824px;
  text-align: left;
  font-family: 'Arvo', serif;
}
body > section h1,
body > section h2,
body > section h3,
body > section h4,
body > section h5,
body > section h6 {
  font-family: 'Josefin Sans', sans-serif;
}
body > section h1 {
  font-size: 38px;
}
.posts {
  list-style-type: none;
  padding-left: 0;
}
.posts li {
  font-size: 20px;
  line-height: 36px;
}
.post-header h1 {
  margin-bottom: 0;
}
.post-header .meta {
  margin: 0 0 30px 0;
  color: #aaaaaa;
}
body {
  margin-top: 80px;
  text-align: center;
  color: #444444;
}
blockquote {
  background-color: #f5f2f0;
}
