blockquote {
    padding: 30px 30px;
    margin-top: 0;
    margin-bottom: 0;
    font-style: italic;
    font-size: 1rem;
    > *:nth-child(1) {
        margin-top: 0;
    }
    > *:last-child {
        margin-bottom: 0;
    }
    p {
      color: @color4;
      font-weight: 100;
    }
}