body > section {
    vertical-align: top;
    display: inline-block;
    text-align: left;
    max-width: 750px;
    width: 100%;
    padding:0 25px;

    font-family: proxima-nova, serif;
    h1, h2, h3, h4, h5, h6 {
        font-family: proxima-nova, sans-serif;
        margin-top: 1.5em;
    }
    h1 {
        font-size: 38px;
    }
}

.content {
    opacity: 0;
    transition: all 0.25s ease-in-out;
}