body > section {
    display: block;
    vertical-align: top;
    @media (min-width: @breakpoint-large) {
        display: inline-block;
        width: 824px;
    }
    text-align: left;

    font-family: 'Arvo', serif;
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Josefin Sans', sans-serif;
    }
    h1 {
        font-size: 38px;
    }
    .content {
        clear: both;
        max-width: 824px;
        @media (min-width: @breakpoint-small) {
            display: inline-block;
            width: ~"calc(100% - 174px)";
        }
        @media (min-width: @breakpoint-large) {
            clear: none;
            display: block;
            width: 100%;
        }
    }
}