body > footer {
    background-image: url('/img/vectorized.png');
    background-size: cover;
    background-position: 0 100%;
    margin: 4em auto 0;
    display: table;
    width: 100%;
    height: 12em;

    font-family: proxima-nova, serif;
    h1, h2, h3, h4, h5, h6 {
        font-family: proxima-nova, sans-serif;
        margin-top: 1.5em;
    }
    h1 {
        font-size: 38px;
    }
    .content {
        opacity: 0;
        transition: all 0.25s ease-in-out;
    }

    .footer-content {
      background-color: rgba(255,255,255,0.5);
      display: table-cell;
      vertical-align: middle;
    }

    p {
        min-height: 150px;
        font-weight: 900;
        font-size: 28px;
        margin: 2em auto;
        max-width: 750px;
        width: 100%;
        padding:0 25px;
        text-align: center;
        line-height: 1.6em;
    }
    img {
      float: right;
      border-radius: 150px;
      margin-left: 2em;
      @media (max-width: 700px) {
        float: none;
        display: block;
        margin: 0 auto 2em;
      }
    }

    .signup-form {
      background-color: white;
      font-size: 28px;
      margin: 2em auto 0;
      padding: 2em 25px 4em;
      em {
        font-style: italic;
        font-weight: 900;
      }
    }
    form {
      position: relative;
      max-width: 750px;
      margin: 0 auto;
      text-align: left;
      p {
        font-weight: 300;
        padding: 0 0 2em 0;
        min-height: inherit;
        margin: 0 auto;
        max-width: 650px;
      }
      .email-wrapper {
        position: relative;
      }
      input {
        font-weight: 300;
        background: transparent;
        border: 2px solid #ddd;
        padding: 0.5em 1em;
        width: ~"calc(50% - 8px)";
        outline: none;
      }
      input[type=email] {
        width: ~"calc(100% - 148px)";
      }
      input[type=submit] {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 0.5em 1em;
        width: 150px;
        border: 2px solid #ddd;
        background-color: white;
        color: #3489ff;
        font-weight: 900;
      }
      input[name=LNAME] {
        margin-left: 16px;
      }
      input[name=LNAME], input[name=FNAME] {
        margin-bottom: 16px;
      }
      @media (max-width: 700px) {
        input[type=email] {
          width: 100%;
        }
        input[type=submit] {
          position: relative;
          width: 100%;
          margin-top: 16px;
        }
      }
    }
}