body > footer {
  margin: 4em auto 0;
  display: table;
  width: 100%;
  height: 12em;

  font-family: proxima-nova, serif;
  h1, h2, h3, h4, h5, h6 {
      font-family: proxima-nova, sans-serif;
      margin-top: 1.5em;
  }
  h1 {
      font-size: 38px;
  }
  .content {
      opacity: 0;
      transition: all 0.25s ease-in-out;
  }

  .footer-content {
    display: table-cell;
    vertical-align: middle;
  }

  p {
      font-weight: 100;
      padding: 2em 25px;
      margin: 0 auto;
      max-width: @width;
      width: 100%;
      text-align: center;
      line-height: 1.6em;
  }

  .services {
    background-image: url('/img/vectorized.png');
    background-size: cover;
    background-position: 0 0%;
    margin: 0 0 6em 0;
    p {
      font-size: 2em;
      a {
        color: white;
      }
    }
  }
}

.signup-form {
  background-color: white;
  margin: 0 auto;
  margin: 6em auto;
  h2 {
    margin: 0;
    font-size: 2em;
    font-weight: 300;
    text-transform: uppercase;
  }
  p {
    font-size: 1.15em;
    text-align: left;
    margin: 2em 0;
    padding: 0;
  }
  em {
    font-style: normal;
    font-weight: 400;
  }

  form {
    position: relative;
    max-width: @width;
    margin: 0 auto;
    text-align: left;
    p {
      font-weight: 300;
      padding: 2em 0;
      min-height: inherit;
      margin: 0 auto;
    }
    .email-wrapper {
      position: relative;
      font-size: 1.15em;
    }
    input {
      font-weight: 300;
      background: white;
      border: 1px solid #ddd;
      padding: 0.5em 1em;
      outline: none;
      margin-left: 8px;
    }
    input[type=email] {
      width: ~"calc(70% - 166px)";
    }
    input[type=submit] {
      // position: absolute;
      // bottom: 0;
      // right: 0;
      padding: 0.5em 1em;
      width: 150px;
      border: 1px solid #ddd;
      background-color: #f9f9f9;
      border-radius: 4px;
      color: #444;
      font-weight: 300;
      // text-transform: uppercase;
    }
    input[name=FNAME] {
      width: ~"calc(30%)";
      margin-left: 0;
    }
    @media (max-width: 700px) {
      input[type=email] {
        width: 100%;
        margin-left: 0;
        margin-top: 16px;
      }
      input[type=submit] {
        width: 100%;
        margin-left: 0;
        margin-top: 16px;
      }
      input[name=FNAME] {
        width: 100%;
      }
    }
  }
}