body > section > nav {
    float: left;
    margin-left: -200px;
    width: 150px;
    text-align: left;

    img {
        width: 150px;
        height: 150px;
        border-radius: 75px;
        border: 1px solid @color1;
    }

    h1 {
        margin: 0;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 24px;
        text-align: right;
        color: @color3;
        span {
            color: @color1;
        }
    }

    ul {
        list-style-type: none;
        li {
            text-align: right;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 18px;
            a:link, a:visited, a:hover, a:focus, a:active {
                color: @color4;
            }
        }
    }
}