a:link {
    color: @primary;
    text-decoration: none;
}

a:visited {
    color: @primary;
}

a:hover {
    color: @color2;
}

a:focus {
    color: @color2;
}

a:active {
    color: @color2;
}

a:link code {
    color: @primary !important;
}

a:visited code {
    color: @primary !important;
}