@import "variables";

@import "normalize";
@import "borderbox";
@import "blockquote";
@import "menu";

@import "links";
@import "header";
@import "content";
@import "posts";
@import "post";
@import "footer";

body {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    margin: 0;
    text-align: center;
    color: @color3;
    background-color: white;
}

p {
    line-height: 23px;
}

hr {
	border: 1px solid #eee;
	margin: 3em auto;
	width: 50%;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
  background-color: transparent !important;
}