@import "variables";
@import "fonts";

@import "normalize";
@import "borderbox";
@import "blockquote";

@import "links";
@import "header";
@import "content";
@import "posts";
@import "post";

body {
    overflow-y: scroll;
    margin: 80px 20px 20px 20px;
    text-align: center;
    color: @color3;
}

p {
    line-height: 23px;
}