.reference {
    color: #444;
}

.super {
    vertical-align: super;
    font-size: 0.7em;
}

.page-content, .post-content {
  b, optgroup, strong {
    font-weight: 700;
  }
  p, ol, ul {
    font-size: 1.15em;
    line-height: 1.6;
    font-weight: 300;
  }
  h1, h2, h3, h4 {
    // text-transform: uppercase;
    font-size: 2em;
    margin-top: 2em;
    font-weight: 300;
  }
  h3 {
      font-size: 1.75em;
  }
  a {
    background-color: rgba(0, 106, 255, 0.05);
  }

}

.post-content {
  h1, h2, h3, h4 {
    a {
      color: #111;
    }
  }
}

.post-header {
    margin: 60px 0;
    // text-align: center;
    h1 {
      font-family: @font-main;
      font-weight: 500;
      font-size: 3em;
      color: @primary;
      // text-transform: uppercase;
      @media (max-width: @width) {
        font-size: 2em;
      }
    }
    h2 {
      font-family: @font-main;
      font-weight: 500;
      font-size: 1.5em;
      color: @primary;
      // text-transform: uppercase;
      @media (max-width: @width) {
        font-size: 2em;
      }
    }
    p {
      font-size: 0.3833em;
      line-height: 1.6;
      font-weight: 300;
      text-transform: none;
      color: #111;
      margin: 0;
    }
}

.commit {
    font-size: 0.85em;
    a {
        font-family: @font-mono;
        font-size: 0.75em;
    }
}

.literate-introduction {
    background-color: #f9f9f9;
    padding: 1em 0;
}

.side-block {
    float: right;
    margin: 0 0 2em 2em;
    // border: 1px solid #ddd;
    background-color: white;
    max-width: ~"calc(130px + 2em + 2px)";

    @media (max-width: @width) {
        width: 100%;
        max-width: none;
    }

    .author {
        display: flex;
        flex-direction: column;
        // background-color: #f9f9f9;
        padding: 1em 1em;
        @media (max-width: @width) {
            flex-direction: row;
        }
        .author-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            @media (max-width: @width) {
                flex: 2;
                margin-left: 1em;
            }
        }
        .author-image {
            @media (max-width: @width) {
                flex: 1;
            }
        }
        img {
            width: 120px;
            height: 120px;
            border-radius: 120px;
            display: block;
            margin: 0 auto;
            @media (max-width: @width) {
                max-width: 100px;
                width: 100%;
                height: auto;
            }
        }
        p {
            margin: 1em 0;
            font-size: 0.85em;
        }
    }

    .actions {
        button {
            display: block;
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            font-size: 1.0em;
            margin: 1em;
            width: ~"calc(100% - 2em)";
            border-radius: 4px;
            color: #444;
            line-height: 1.6;
            font-weight: 300;
        }
    }

}

.post-footer {
    background-color: #f8f8f8;
    padding: 2em 4em;
    margin: 0 -4em;
    .feather {
        height: 1em;
        vertical-align: middle;
    }
}
