.home {
    .post-line {
        // display: flex;
        // font-size: 20px;
        // line-height: 36px;
        // .filler {
        //     flex-grow: 1;
        // }
        // .post-date {
        //     color: #ccc;
        //     white-space: nowrap;
        // }
        margin: 60px 0;
        p {
            text-align: center;
        }
        .post-link {
            font-size: 30px;
        }
    }
}