.post {
    footer {
        margin: 2em 0;
        border: 2px dashed tomato;
        text-align: center;
        font-size: 1.4em;
    }
}

.post-header {
    margin: 60px 0;
    text-align: center;
    .bigtext {
        font-family: 'Josefin Sans',sans-serif;
        //font-size: 60px;
        margin: 0 auto;
        max-width: 75%;
        text-transform: uppercase;
    }
    .meta {
        margin: 0 0 30px 0;
        color: @color4;
    }
}

.reference {
    color: #aaa;
}

.super {
    vertical-align: super;
    font-size: 0.7em;
}