.home {
    .post {
      margin-top: 90px;
    }
    .pagination {
        margin: 90px 0 120px;
        p {
          font-size: 1.6em;
          line-height: 1.6;
          font-weight: 100;
          text-transform: none;
          color: #444;
          margin: 0;
        }
    }
}