.recommendation {
  margin: 3em 0;
  background-image: url("/img/vectorized.png");
  background-size: cover;

  .margin {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    margin: 0 25px 0 0;
  }

  p {
    flex: 0 0 575px;
    color: white;
  }
}