<footer class="content">
  <div class="footer-content">
    {% if page.tags contains "security" %}
      <p><img src="/img/portrait-150x150.png"><span>Hi, I'm <a href="https://twitter.com/petecorey">Pete Corey</a>. Interested in a security assessment of your Meteor application? Check out <a href="http://assess.east5th.co/">East5th Assess</a>!</span></p>
    {% else %}
      <p><img src="/img/portrait-150x150.png"><span>Hi, I'm <a href="https://twitter.com/petecorey">Pete Corey</a>. Interested in working together on your Meteor application? I'm available <a href="http://www.east5th.co/">for hire</a>!</span></p>
    {% endif %}
    <div class="signup-form">
      <form action="//east5th.us11.list-manage.com/subscribe/post?u=f8833fd40e2b1b28545d9f382&amp;id=c56ceba687" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
        <p>Sign up for the <em>East5th Newsletter</em> to stay up to date on all of my latest posts, projects, and thoughts!</p>
        <div class="email-wrapper">
          <!-- <input type="text" placeholder="First name" value="" name="FNAME" class="" id="mce-FNAME" tabindex="2"><input type="text" placeholder="Last name" value="" name="LNAME" class="" id="mce-LNAME" tabindex="3"> -->
          <input placeholder="Email address" type="email" value="" name="EMAIL" id="mce-EMAIL" tabindex="1">
          <input type="submit" value="I'm in!" name="subscribe" id="mc-embedded-subscribe">
        </div>
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_f8833fd40e2b1b28545d9f382_c56ceba687" tabindex="-1" value=""></div>
      </form>
    </div>
  </div>
</footer>