<footer class="content">
  <div class="footer-content">
      <!-- <div class="services"> -->
      <!-- <p><a href="/services/">Working on an interesting project? Find out how we can help.</a></p> -->
      <!-- </div> -->

    {% if page.hideNewsletter != true %}
      <div class="margin">
        <div class="signup-form" id="newsletter">
          <form action="//east5th.us11.list-manage.com/subscribe/post?u=f8833fd40e2b1b28545d9f382&amp;id=c56ceba687" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
              <p><strong>Feedback from my readers is what motivates me to keep working in public.</strong> Feel free to <a href="mailto:hello@petecorey.com" >reach out</a>, or even sign up for <a href="http://us11.campaign-archive2.com/home/?u=f8833fd40e2b1b28545d9f382&amp;id=c56ceba687">my mailing list</a> if you'd like to stay up to date with what I'm working on.</p>
            <div class="email-wrapper">
              <input type="text" placeholder="First Name" value="" name="FNAME" class="" id="mce-FNAME" ><!--
              --><input placeholder="Email address" type="email" value="" name="EMAIL" id="mce-EMAIL" ><!--
              --><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" >
            </div>
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_f8833fd40e2b1b28545d9f382_c56ceba687" tabindex="-1" value=""></div>
          </form>
        </div>
      </div>
    {% endif %}
    <a rel="me" href="https://mastodon.social/@petecorey" style="display: none;">Mastodon</a>
  </div>
</footer>
