<header>
    <div class="wrapper">
        <a href="/"><img src="/img/east5th.svg"></a>
        <div class="menu-wrapper">
            <nav class="menu">
                <a href="#">About</a>
                <a href="#">Development</a>
                <a href="#">Security</a>
                <a href="/">Blog</a>
            </nav>
            <nav class="menu-opener">
                <div class="menu-opener-inner"></div>
            </nav>
        </div>
    </div>
</header>

<!-- <header>
    <img src="{{ '/img/miloAndMe.png' | prepend: site.baseurl }}">

    <a href="{{ site.baseurl }}/"><h1>1pxsolid<span>tomato</span></h1></a>

    <ul>
        {% for page in site.pages %}
            {% if page.title %}<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>{% endif %}
        {% endfor %}
        {% if site.github_username %}
            <li><a href="https://github.com/{{ site.github_username }}">Github</a></li>
        {% endif %}
        {% if site.twitter_username %}
            <li><a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a></li>
        {% endif %}
    </ul>
</header> -->