<div class="post-footer" style="margin: 4em -4em;">
    <div class="signup-form">
        <form action="//east5th.us11.list-manage.com/subscribe/post?u=f8833fd40e2b1b28545d9f382&amp;id=c56ceba687" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
            <p style="padding: 0 0 1em 0;"><strong>Never want to miss another article?</strong> Sign up for <a href="/newsletter" >Pete's mailing list</a> and have fresh content delivered to you, hot off the presses every week!</p>
            <div class="email-wrapper">
                <input type="text" placeholder="First Name" value="" name="FNAME" class="" id="mce-FNAME" ><!--
                                                                                                                       --><input placeholder="Email address" type="email" value="" name="EMAIL" id="mce-EMAIL" ><!--
                                                                                                                                                                                                                            --><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" >
            </div>
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_f8833fd40e2b1b28545d9f382_c56ceba687" tabindex="-1" value=""></div>
        </form>
    </div>
</div>
