<div class="post-newsletter" style="margin: 2em 0;">
    <div class="signup-form">
        <form action="//east5th.us11.list-manage.com/subscribe/post?u=f8833fd40e2b1b28545d9f382&amp;id=c56ceba687" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
            <p>I find myself producing lots of ranging content from books and articles, like the one you're reading now, to open source software projects. If you like what I'm doing, <strong>nothing shows your support more than signing up for <a href="#newsletter">my mailing list</a></strong>.</p>
            <div class="email-wrapper">
                <input type="text" placeholder="First Name" value="" name="FNAME" class="" id="mce-FNAME" ><!--
                                                                                                        --><input placeholder="Email address" type="email" value="" name="EMAIL" id="mce-EMAIL" ><!--
                                                                                                                                                                                                    --><input type="submit" value="Show your support!" name="subscribe" id="mc-embedded-subscribe">
            </div>
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_f8833fd40e2b1b28545d9f382_c56ceba687" tabindex="-1" value=""></div>
        </form>
    </div>
</div>
