<div class="side-block">
    <div class="author">
        <div class="author-image">
            <img src="/img/portrait-150x150.png" style="border-radius: 150px;">
        </div>
        <div class="author-info">
            <p>Written by Pete Corey on {{ include.date | date: "%b %-d, %Y" }}.</p>
            <a class="twitter-follow-button" data-show-count="false" href="https://twitter.com/petecorey"> Follow @petecorey</a>
        </div>
    </div>
    <div class="actions">
        <a href="/feed.xml"><button>RSS Feed</button></a>
        <a href="/newsletter"><button>Newsletter</button></a>
        <a href="/blog/all"><button>Archives</button></a>
    </div>
</div>
