---
layout: default
hideFooter: true
---

<div class="blog-all content">

  <div class="margin">
      <header class="post-header" >
          <h1>The Archives</h1>
      </header>
      {% for post in site.posts %}
        <div class="post-content">
            <p>
                <a href="{{post.url}}" >{{post.title}}</a>
                – {{post.excerpt}}
                <br/>
                <i data-feather="tag"></i>
                {% assign sorted = post.tags | sort %}
                {% for tag in sorted %}
                    <a href="/blog/tags#{{tag | slugify}}">{{tag}}</a>{% if forloop.last == false %},{% endif %}
                {% endfor %}
                <br/>
                <i data-feather="calendar"></i> {{post.date | date: "%b %-d, %Y" }}
            </p>
        </div>
      {% endfor %}
  </div>

</div>
