<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>
        {% include header.html %}
        <section>
            <div class="content">
                {{ content }}
            </div>
        </section>
        
        <div class="pagination">
            <div class="filler"></div>
            <p>
                {% if paginator.previous_page %}
                    <a href="{{ paginator.previous_page_path }}">Previous page</a>
                {% endif %}
                &nbsp;
                {% if paginator.next_page %}
                    <a href="{{ paginator.next_page_path }}">Next page</a>
                {% endif %}
            </p>
            <div class="filler"></div>
        </div>

        {% if page.hideFooter != true %}
          {% include footer.html %}
        {% endif %}
        {% include google_analytics.html %}
        <script>
            $(".menu-opener").click(function(){
                $(".menu-opener, .menu-opener-inner, .menu").toggleClass("active");
            });
        </script>
    </body>
</html>
