<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>
        {% include header.html %}
        <section>
            <div class="content">
                {{ content }}
            </div>
        </section>
        {% if page.hideFooter != true %}
          {% include footer.html %}
        {% endif %}
        {% include google_analytics.html %}
        <script>
            $(".menu-opener").click(function(){
                $(".menu-opener, .menu-opener-inner, .menu").toggleClass("active");
            });
        </script>
    </body>
</html>