<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

        <div class="margin" >
            {% if page.hideFooter != true %}
                <div class="header" >
                    <strong>Pete Corey</strong>
                    <a href="/blog/all" >Writing</a>
                    <a href="/work" >Work</a>
                    <a href="mailto:hello@petecorey.com" >Contact</a>
                </div>
            {% endif %}
        </div>

        {{ content }}
        
        {% if paginator %}
            <div class="pagination">
                <div class="filler"></div>
                <p>
                    <a class="{%unless paginator.previous_page %}invisible{% endunless %}" href="{{ paginator.previous_page_path }}">Previous page</a>
                    <a class="all-posts" href="/blog/all/">All Posts</a>
                    <a class="{%unless paginator.next_page %}invisible{% endunless %}" href="{{ paginator.next_page_path }}">Next page</a>
                </p>
                <div class="filler"></div>
            </div>
        {% endif %}

        {% if false and page.hideFooter != true %}
          {% include footer.html %}
        {% endif %}
	{% comment %}
        {% include google_analytics.html %}
	{% endcomment %}
        <script>
            $(".menu-opener").click(function(){
                $(".menu-opener, .menu-opener-inner, .menu").toggleClass("active");
            });
        </script>
        <script>
            feather.replace();
        </script>
    </body>
</html>
