---
layout: default
---
<div class="post content">

  <div class="margin">

    <header class="post-header">
      <h1>
        {{page.title}}
      </h1>
    </header>

    {% if page.literate %}
  </div>
  <div class="literate-introduction">
    <div class="margin">
      <div class="post-content">
        <p>This post is written as a set of <a href="/blog/2016/07/11/literate-commits/">Literate Commits</a>. The goal of this style is to show you how this program came together from beginning to end.</p>
        <p>Each commit in the project is represented by a section of the article. Click each section's header to see the commit on Github, or <a href="{{page.repo}}">check out the repository</a> and follow along.</p>
      </div>
    </div>
  </div>
  <div class="margin">
    {% endif %}

    <article class="post-content">
        {% include side-block.html date=page.date %}
        {{ content }}
        <hr/>
        <div class="post-footer" >
            <p class="post-tags" >
                <i data-feather="tag"></i>
                {% for tag in page.tags | sort %}
                <!-- <a href="#">{{tag}}</a>{% if forloop.last == false %},{% endif %} -->
                    {{tag}}{% if forloop.last == false %},{% endif %}
                {% endfor %}
            </p>
            {% for post in site.posts %}
                {% if page.related contains post.url %}
                    <p class="post-related">
                        <i data-feather="link"></i>
                        <a href="{{post.url}}" >{{post.title}}</a>
                        – {{post.description}}
                    </p>
                {% endif %}
            {% endfor %}
            {% if page.previous.url %}
                <p class="post-next" >
                    <i data-feather="arrow-right"></i>
                    <a href="{{page.previous.url}}" class="previous">{{page.previous.title}}</a>
                    – {{page.previous.description}}
                </p>
            {% endif %}
            {% if page.next.url %}
                <p class="post-next" >
                    <i data-feather="arrow-left"></i>
                    <a href="{{page.next.url}}" class="next">{{page.next.title}}</a>
                    – {{page.next.description}}
                </p>
            {% endif %}
        </div>
    </article>

  </div>

</div>
