---
layout: default
---
<div class="post">

  <header class="post-header">
    <div class="bigtext">
      {% for part in page.titleParts %}
        <span>{{part}}</span>
      {% endfor %}
    </div>
    <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
  {{ content }}
  </article>

  {% if page.tags contains "security" %}
    <footer>
        <p>Interested in a security assessment of your Meteor application? Check out <a href="http://assess.east5th.co/">East5th Assess</a>!</p>
    </footer>
  {% else %}
    <footer>
        <p>Interested in working together? I'm available <a href="http://www.east5th.co/">for hire</a>!</p>
    </footer>
  {% endif %}

  <!-- {% include disqus.html %} -->
</div>