---
layout: default
---
<div class="post content">

  <div class="margin">

    <h1>
      {{page.title}}
    </h1>

  </div>

  <div class="nav-block" >
      <div class="margin" >
          <p>You’re currently browsing through <a href="/work" >my portfolio</a> of professional work. I’m available for hire, so don’t hesitate to <a href="mailto:hello@petecorey.com" >reach out</a>! Also be sure to read <a href="/">my latest article</a>, and browse through <a href="/blog/all" >the archives</a>.</p>
      </div>
  </div>

  <div class="margin" >

    <article class="post-content">
        {{ content }}
    </article>

  </div>
    {% if page.previous or page.next %}
    <div class="post-footer" >
        <div class="margin" >
            {% if page.previous.url %}
                <p class="post-next" >
                    <i data-feather="arrow-left"></i>
                    <a href="{{page.previous.url}}" class="previous">{{page.previous.title}}</a>
                    – {{page.previous.description}}
                </p>
            {% endif %}
            {% if page.next.url %}
                <p class="post-next" >
                    <i data-feather="arrow-right"></i>
                    <a href="{{page.next.url}}" class="next">{{page.next.title}}</a>
                    – {{page.next.description}}
                </p>
            {% endif %}
        </div>
    </div>
    {% endif %}

  </div>

</div>
